html{
  height: 100%;
  width: 100%;
  background-color: #212529;
}

a{
  text-decoration: none;
}

#mainContainer{
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder { 
  color: white;
}

.form-control::-ms-input-placeholder {
  color: white;
}

#footerBar{
  background-color: #191c1f;
}
